h1{
	font-family:impact;
	font-size:50px;
	position:relative;
	left:40px;
	color:white;
}
body{
	background-color:#000000;
}
#center{
	float:center;
	color:white;
	text-align:center;
}
#box{
	float:center;
	display:flex;
	justify-content:center;
}
a.proj:link, a.proj:visited{
	background-color:#7f006e;
	color:#c0c0c0;
	padding:4px 25px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 20px;
}
a.proj:hover, a.proj:active{
	color:#7f006e;
	background-color:#c0c0c0;
}
#projects{
	float:left;
	height:65vh;
}
a.different:link, a.different:visited{
	color:white;
}
a.different:hover, a.different:active{
	color:#7f006E;
}

