* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    height: 100%;
}

/** Main Sections **/

body {
    background-color:#D4EFDF;
    height: 100%;
    font-family:impact;
}

#header{
    background-color: #909090;
    height: 62px;
}

#title{
    font-family:impact;
    font-size:50px;
    position: relative;
    left: 1.5%;
    color:white;
    margin:0px;
    width: 98.5%;
}

#content{
    height:calc(100% - 62px);
}

#upper{
    height: calc(100% - 100px);
    padding: 0 0.5%;
}

#below{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 0.5%;
    height: 100px;
}

/** Sub-Sections **/

#UL{
    background-color: white;
    width: 20%;
    float: left;
    height: 100%;
    overflow: auto;
}

#UR{
    background-color: green;
    float: left;
    width: 80%;
    overflow: auto;
    height: 100%;
}

#BL{
    background-color: yellow;
    float:left;
    width:20%;
    height: 100%;
}

#BR{
    background-color: orange;
    float:left;
    width:80%;
    height: 100%;
    text-align: center;
}

/** Course table **/

.row{
    height: 25%;
    padding: 0.2%;
}

.semester{
    display: float;
    float: left;
    width: 32%;
    height: 100%;
    border:solid black;
    background-color:#b3de81;
    padding:5px;
    margin: 0 0.5%;
    overflow: auto;
}

.year{
    height:2.0em;
    line-height: 2.0em;
    border:solid black;
    font-family:impact;
    font-size:1.2em;
    color:white;
    background-color:#063852;
    text-align:center;
}

.course{
    height:1.2em;
    font-size:1.0em;
    margin: 5px 0;
}

.name{
    display:float;
    float:left;
    width:80%;
    text-align: left;
    padding: 0 10px;
}

.credits{
    display:float;
    float:left;
    width:20%;
    text-align: right;
    padding: 0 10px;
}

/** Footer elements **/

#BL p {
    margin:5px;
    text-align: center;
}

a:link, a:visited{
    background-color:#68a225;
    color:white;
    padding:5px 25px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
}
a:hover, a:active{
    background-color:red;
}